name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write # to push tags/commits
  issues: write # to comment on released issues
  pull-requests: write # to comment on released PRs
  id-token: write # for NPM provenance (optional but good)

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # required for commit history analysis
          persist-credentials: false # we use a token for pushing

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
